[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
prompt-toolkit = "*"
autopep8 = "*"

[packages]
prompt-toolkit = "*"

[requires]
python_version = "3.7"
